# Large data files
data/processed_docs.jsonl
embeddings/dense.npy
embeddings/tfidf_vectorizer.pkl
embeddings/dense_finetuned.npy
finetune/model/
finetune/pairs.pkl
data/test_docs.jsonl
data/train_docs.jsonl

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
